/* General Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #f0f0f0, #e0e0e0);
    background-size: cover;
    animation: backgroundAnimation 30s linear infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, margin-bottom 0.3s ease;
}

header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

header:hover h1 {
    color: #ffcc00;
}

header:hover img {
    transform: rotate(360deg);
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, margin-bottom 0.3s ease;
}

nav a {
    color: #fff;
